<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> -->
</head>

<body>
    <button onclick="start_camera()">Capture</button>
    <button onclick="stop_camera()">stop</button>
    <div>
        <video autoplay="true" id="videoElement"></video>
        <canvas id="canvas" width="400" height="300"></canvas>
    </div>
    <script src="{{ url_for('static',filename='app.js') }}"></script>

</body>

</html>